<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cantinho da Leitura</title>
    <link rel="icon" type="image/x-icon" href="~/images//book.ico">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ControleLeitura2.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark ">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    Cantinho da Leitura
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="true" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

                    <div class="dropdown ms-2">
                        <a class="btn btn-success dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" style="color:white">
                            <i class = "fa fa-bars"></i>
                            Gerenciador
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                            <li><a asp-controller="Livros" asp-action="Create" class="dropdown-item" type="button">Adicionar Livro</a></li>
                            <li><a asp-controller="Editoras" asp-action="Index" class="dropdown-item" type="button">Editoras</a></li>
                            <li><a asp-controller="Autores" asp-action="Index" class="dropdown-item" type="button">Autores</a></li>
                        </ul>
                    </div>

                    @await Component.InvokeAsync("CategoriaMenu")
                    <a class="nav-link text-light" asp-area="" asp-controller="Livros" asp-action="Index">Livros</a>
                    <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    
                </div>
            </div>
        </nav>
    </header>
    <div class="container" style = "background-color:white">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style = "background-color:white">
        <div class="container">
            &copy; 2022 - Cantinho da Leitura - <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
