@model ControleLeitura2.Models.Autor

@{
    ViewData["Title"] = "Create";
}

<h1>Adicionar Autor</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AutorNome" class="control-label"></label>
                <input asp-for="AutorNome" class="form-control" />
                <span asp-validation-for="AutorNome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AutorNacionalidade" class="control-label"></label>
                <input asp-for="AutorNacionalidade" class="form-control" />
                <span asp-validation-for="AutorNacionalidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Adicionar" class="btn btn-primary mt-2" />
               <a asp-action="Index"  class="btn btn-outline-dark mt-2">Voltar</a>
            </div>
        </form>
    </div>
</div>


</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
